Repository valyankilyan/tasks-golang-school: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-anagram, test-brokennode, test-buildword, test-chess, test-coins, test-floyd, test-functionfrequency, test-jaro, test-lastlettergame, test-mergesort, test-missingnumbers, test-node-degree, test-reverseparentheses, test-romannumerals, test-secretmessage, test-shorthash, test-snowflakes, test-sumdecimal, test-warriors, test-wordladder

test-anagram:
  image: golang:1.17
  script:
  - make test-anagram

test-brokennode:
  image: golang:1.17
  script:
  - make test-brokennode

test-buildword:
  image: golang:1.17
  script:
  - make test-buildword

test-chess:
  image: golang:1.17
  script:
  - make test-chess

test-coins:
  image: golang:1.17
  script:
  - make test-coins

test-floyd:
  image: golang:1.17
  script:
  - make test-floyd

test-functionfrequency:
  image: golang:1.17
  script:
  - make test-functionfrequency

test-jaro:
  image: golang:1.17
  script:
  - make test-jaro

test-lastlettergame:
  image: golang:1.17
  script:
  - make test-lastlettergame

test-mergesort:
  image: golang:1.17
  script:
  - make test-mergesort

test-missingnumbers:
  image: golang:1.17
  script:
  - make test-missingnumbers

test-node-degree:
  image: golang:1.17
  script:
  - make test-node-degree

test-reverseparentheses:
  image: golang:1.17
  script:
  - make test-reverseparentheses

test-romannumerals:
  image: golang:1.17
  script:
  - make test-romannumerals

test-secretmessage:
  image: golang:1.17
  script:
  - make test-secretmessage

test-shorthash:
  image: golang:1.17
  script:
  - make test-shorthash

test-snowflakes:
  image: golang:1.17
  script:
  - make test-snowflakes

test-sumdecimal:
  image: golang:1.17
  script:
  - make test-sumdecimal

test-warriors:
  image: golang:1.17
  script:
  - make test-warriors

test-wordladder:
  image: golang:1.17
  script:
  - make test-wordladder

all test
  Makefile
Due: none

fix
  .gitlab-ci.yml
  Makefile
Due: none

fix2fix
  .gitlab-ci.yml
Due: none

fix
  Makefile
Due: none

new ci
  .gitlab-ci.yml
  Makefile
  README.md
  checker.go
Due: none

fix ci
  checker.go
Due: none

change fmt to log
  checker.go
Due: none

change makefile
  .gitlab-ci.yml
Due: none

bash
  .gitlab-ci.yml
Due: none

print dirs
  .gitlab-ci.yml
  checker.go
Due: none

print dirs 2
  checker.go
Due: none

print dirs 3
  checker.go
Due: none

fix
  checker.go
Due: none

final
  checker.go
Due: none

add non zero exit
  checker.go
Due: none

anagram completed
  anagram/anagram.go
Due: test-anagram

chess problem solved
  chess/chess.go
Due: test-chess

coins solved
  coins/coins.go
Due: test-coins

buildword is done
  buildword/buildword.go
Due: test-buildword

coins done but uneffective (i suppose)
  coins/coins.go
Due: test-coins

floyd is done
  floyd/floyd.go
Due: test-floyd

mergesort
  mergesort/mergesort.go
Due: test-mergesort

missingnumbers
  missingnumbers/missingnumbers.go
Due: test-missingnumbers

node_degree
  node_degree/node_degree.go
Due: test-node-degree

reverseparentheses is done
  reverseparentheses/reverseparentheses.go
Due: test-reverseparentheses

add solved checker
  README.md
Due: none

No idea how to make this look beautiful
  functionfrequency/functionfrequency.go
Due: test-functionfrequency

jaro is done
  jaro/jaro.go
Due: test-jaro

x2 faster
  jaro/jaro.go
Due: test-jaro

lastlettergame is done
  lastlettergame/lastlettergame.go
Due: test-lastlettergame

fix
  lastlettergame/lastlettergame.go
Due: test-lastlettergame

check)
  README.md
Due: none

romannumberals successful decoding
  README.md
  romannumerals/romannumerals.go
Due: test-romannumerals

romannumerals done
  romannumerals/romannumerals.go
Due: test-romannumerals

secretmessage is done
  README.md
  secretmessage/secretmessage.go
Due: test-secretmessage

checkbox
  README.md
Due: none

Path conditions:
  test-anagram: any of: anagram/*
  test-brokennode: any of: brokennode/*
  test-buildword: any of: buildword/*
  test-chess: any of: chess/*
  test-coins: any of: coins/*
  test-floyd: any of: floyd/*
  test-functionfrequency: any of: functionfrequency/*
  test-jaro: any of: jaro/*
  test-lastlettergame: any of: lastlettergame/*
  test-mergesort: any of: mergesort/*
  test-missingnumbers: any of: missingnumbers/*
  test-node-degree: any of: node_degree/*
  test-reverseparentheses: any of: reverseparentheses/*
  test-romannumerals: any of: romannumerals/*
  test-secretmessage: any of: secretmessage/*
  test-shorthash: any of: shorthash/*
  test-snowflakes: any of: snowflakes/*
  test-sumdecimal: any of: sumdecimal/*
  test-warriors: any of: warriors/*
  test-wordladder: any of: wordladder/*
